{{ template "chart.header" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.requirementsSection" . }}

# Nginx controller used to route in all non AWS clusters

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
